header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px 10px 5px 5px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

section {
  border-radius: 10px;
  height: 300px;
  width: 200px;

  background-color: #7b7b7b;
  color: #fff;
}
.card {
  box-shadow: #000 0px 0px 10px;
  margin: auto;
  height: 200px;
}
