:root {
	--color1: blue;
	--colorLine1: rgba(0, 255, 255, 0.494);
	--colorG1: rgb(0, 255, 255);
	--colorG2: linear-gradient(
		90deg,
		rgba(0, 255, 255, 0.4990371148459384) 0%,
		rgba(1, 24, 54, 1) 100%
	);

	--color-pal11: #071952;
	--color-pal11black: #040e2f8f;
	--color-pal12: #0b666a;
	--color-pal13: #35a29f;
	--color-pal14: #97feed;

	--color-txt-pal15: #00a78e;

	--color-pal21: #61a3ba;
	--color-pal22: #ffffdd;
	--color-pal23: #d2de32;
	--color-pal24: #a2c579;

	/* https://colorhunt.co/palettes/grey  */
	/* 
  
  
  background: rgb(0,255,255);
background: linear-gradient(90deg, rgba(0,255,255,0.4990371148459384) 0%, rgba(1,24,54,1) 100%);
  

background: rgb(1,24,54);
background: linear-gradient(90deg, rgba(1,24,54,1) 29%, rgba(0,255,255,0.4990371148459384) 100%);

  */

	--col_container1: hsl(212, 56%, 13%);
	--col_transp: rgba(255, 255, 255, 0);
	--col-cell1: #ffffff18;
	--colPart: #00000033;
	--col-cell3: #00000033;
	/*--col-txt-menu: white;*/
	--col-txt-menu: #071952;
	--border_cell: 5px;
	--logoss: 10px;

	--round_cell7: 7px;
	--round_cell9: 9px;
	/*--col-nav: #011836;*/
	--col-nav: #61a3ba;

	--diviz-col: repeat(3, 1fr);
	--diviz-row: repeat(3, 1fr);

	--col-modul1: rgba(0, 0, 0, 0.3);

	--colorRadius1: rgba(255, 255, 255, 0.502) solid 3px;

	--fontCell1: 2rem;
	--fontCell2: 1.8rem;
	--col_txt-cell: #e3e5e8;

	/* HAUTEUR DES CELL */
	--celH: 50px;

	/* HAUTEUR navigation  CELL */
	--navH1: 50px;
	--navH2: 60px;
	/* DISTRIBUTION DES CELLULES SUR MAIN BASIS */
	--jcontcell: space-evenly;

	/* +++++ #011836 */
	/* ++++ #153052  */
	/* +++   #3F5F85 */
	/* ++     #8AA4C5         */
	/* +       #E3E5E8               */
}

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;

	padding: 0px 0px;
}

body {
	background-color: var(--color-pal11);
	margin: 0 0 0 0;
}
/*@media screen and (max-width: 575px) {


}*/

@media screen and (min-width: 576px) and (max-width: 767px) {

	/* NAV */






	/*  ------------------------------------ */
	body {
		display: grid;
		grid-template-areas:
			"part0 part0"
			"part1 part1  "
			"part2 part2 "
			"part3 part3 ";
	}

	.profil {
		grid-area: part0;
		display: grid;
		grid-template-areas:
			"a"
			"b";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr fit-content(100%);
		/*justify-content: center;*/
	}
	.monposte {
		grid-area: b;
		text-align: center;
		padding-top: 0.5rem;
	}

	.panim {
		grid-area: a;
		width: 200px;
		margin: auto;

		.face {
			width: 100%;
		}
	}

	.myname,
	.monposte {
		text-align: center;
	}

	.lestitres {
		margin: auto;
	}

	.line {
		display: block;
		height: 1px;
		/*width: fit-content;*/
		/*background: rgb(1,24,54);*/
		background: linear-gradient(
			90deg,
			rgba(1, 24, 54, 1) 29%,
			rgba(0, 255, 255, 0.4990371148459384) 100%
		);

		width: 100%;
	}

	h1 {
		color: #f18407;
		padding: 0px 1rem;
		font-size: 1rem;
	}

	h2 {
		color: #ffdddd;
		padding: 0px 1rem;
		font-size: 1rem;
	}
	.container {
		grid-area: part1;
		display: flex;

		background-color: var(--color-pal11);

		width: 90%;

		margin: auto;
		column-gap: 20px;
	}

	.container2 {
		grid-area: part2;
		/*margin-bottom: 0rem 0rem 0rem 0rem;*/
		/*background-color: #00a78e;*/
		width: 90%;
		margin: 20px auto;
	}

	.container3 {
		grid-area: part3;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: #e3e5e8;
		/*padding: 0px 1.5rem;*/
		font-size: 0.5rem;
		width: 90%;
		margin: 20px auto;

		h1 {
			font-family: "Courier New", Courier, monospace;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
				sans-serif;
			color: #ffffdd;
			/*padding: 0px 1rem;*/
			font-size: 0rem;
		}

		h2 {
			font-family: "Courier New", Courier, monospace;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
				sans-serif;
			color: #ffffdd;
			/*padding: 0px 1rem;*/
			font-size: 0.8rem;
		}
	}

	p {
		color: #e3e5e8;
		padding: 0px 1.5rem;
		font-size: 0.6rem;
	}

	.part5 {
		background-color: #97feed;
		margin: 20px auto;
	}

	.part3,
	.part4,
	.part5,
	.part6 {
		border-radius: 10px 10px 0px 0px;
		text-align: left;
		line-height: 1.5rem;

		background-color: var(--color-pal11black);
		border-radius: 20px 20px 0px 0px;
	}

	.part3,
	.part4 {
		width: 49%;
	}

	.part31 {
		display: block;
		/*display: inline-block;*/

		/*display: list-item;*/
		/*align-items: end;*/
		/*flex-direction: column-reverse;*/
	}

	.part5,
	.part6 {
		/*margin: auto 20px;*/
	}

	.part3 {
		text-align: right;
	}

	.part4 {
		text-align: left;
	}

	.cell-span {
		display: inline-block;
		/*align-items: center;*/
		/*justify-content: center;*/
		border-radius: 3px;
		/*border: #97feed solid 1px;*/
		/*outline: 1px solid rgb(0, 168, 143);*/
		outline: 3px groove rgba(0, 198, 169, 0.6);
		border-radius: 0.3rem;
		/*height: 1.5rem;*/
		padding: 3px 6px;
		color: #00a78e;
		margin: 5px 5px;
		/*flex-wrap: wrap;*/
	}

	.part32 {
		/*display: inline;*/
		/*background-color: #ffffdd;*/
		text-align: right;
		line-height: 1.5rem;
		color: #97feed;
	}

	.subtitle {
		display: flex;

		/*align-items: flex-end;*/
		justify-content: center;
		/*justify-self: center;*/
		text-align: center;
		border-radius: 3px;
		border: #97feed solid 1px;

		padding: 3px 6px;
		color: #97feed;
		margin: 15px 0px;
		/*align-self: flex-end;*/
		/*width: minmax(400px, 100%);*/
		width: 100%;
		/*width: 100%;*/
	}

	.expro {
		color: #97feed;
		list-style: none;
	}

	.exproli {
		padding: 0px 1.7rem;
		font-size: 0.8rem;
	}

	.exproli::after {
		content: "";
		display: inline-block;
		width: 99%;
		height: 2px;
		background-color: #00a78e62;

		margin: 0.3rem 0rem;
	}
	.plustitle {
		padding: 0px 1.3rem;
		margin-bottom: 0.5rem;
		color: #00a78e;
	}

	/*.marking::before,
	.marking::after {
		clip-path: inset(100%);
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}*/

	mark {
		/*display: inline-block;*/
	}

	.marking {
		display: inline-block;
		background-color: #ffffddc5;
		height: 1.5rem;
		border-radius: 1px;
		padding: 0px 0.5rem;
		border-radius: 7px 2px 7px 2px;
		font-size: 0.8rem;
	}

	.atouts {
		margin: 0;
		h1 {
			color: #f18407;
		}
	}

	.contact {
		margin: 0;
		list-style-type: none;
		font-size: 1rem;
		color: #f18407;
		/*padding-bottom: 20px;*/

		h1 {
			color: orange;
			margin: 0;
			font-size: 1rem;
			text-align: left;
		}
	}

	.contact li {
		color: #ffffff;
		font-size: 0.6rem;
	}

	.contact li::after {
		content: "";
		display: inline-block;
		width: 99%;
		height: 1px;
		background-color: #00c0a362;

		margin: 0.3rem 0rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 993px) and (max-width: 1200px) {
	body {
		display: grid;
		grid-template-areas:
			"part0 part0"
			"part1 part1  "
			"part2 part2 "
			"part3 part3 ";
	}

	.profil {
		grid-area: part0;
		display: grid;
		grid-template-areas:
			"a"
			"b";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr fit-content(100%);
	}
	.monposte {
		grid-area: b;
		text-align: center;
		padding-top: 0.5rem;
	}

	.panim {
		grid-area: a;
		width: 200px;
		margin: auto;

		.face {
			width: 100%;
		}
	}

	.myname,
	.monposte {
		text-align: center;
	}

	.lestitres {
		margin: auto;
	}

	.line {
		display: block;
		height: 1px;

		background: linear-gradient(
			90deg,
			rgba(1, 24, 54, 1) 29%,
			rgba(0, 255, 255, 0.4990371148459384) 100%
		);

		width: 100%;
	}

	h1 {
		color: #f18407;
		padding: 0px 1rem;
		font-size: 1rem;
	}

	h2 {
		color: #ffdddd;
		padding: 0px 1rem;
		font-size: 1rem;
	}
	.container {
		grid-area: part1;
		display: flex;

		background-color: var(--color-pal11);

		width: 90%;

		margin: auto;
		column-gap: 20px;
	}

	.container2 {
		grid-area: part2;

		width: 90%;
		margin: 20px auto;
	}

	.container3 {
		grid-area: part3;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: #e3e5e8;
		font-size: 0.5rem;
		width: 90%;
		margin: 20px auto;

		h1 {
			font-family: "Courier New", Courier, monospace;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
				sans-serif;
			color: #ffffdd;
			font-size: 0rem;
		}

		h2 {
			font-family: "Courier New", Courier, monospace;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
				sans-serif;
			color: #ffffdd;
			font-size: 0.8rem;
		}
	}

	p {
		color: #e3e5e8;
		padding: 0px 1.5rem;
		font-size: 0.6rem;
	}

	.part5 {
		background-color: #97feed;
		margin: 20px auto;
	}

	.part3,
	.part4,
	.part5,
	.part6 {
		border-radius: 10px 10px 0px 0px;
		text-align: left;
		line-height: 1.5rem;

		background-color: var(--color-pal11black);
		border-radius: 20px 20px 0px 0px;
	}

	.part3,
	.part4 {
		width: 49%;
	}

	.part31 {
		display: block;
		/*display: inline-block;*/

		/*display: list-item;*/
		/*align-items: end;*/
		/*flex-direction: column-reverse;*/
	}

	.part5,
	.part6 {
		/*margin: auto 20px;*/
	}

	.part3 {
		text-align: right;
	}

	.part4 {
		text-align: left;
	}

	.cell-span {
		display: inline-block;
		/*align-items: center;*/
		/*justify-content: center;*/
		border-radius: 3px;
		/*border: #97feed solid 1px;*/
		/*outline: 1px solid rgb(0, 168, 143);*/
		outline: 3px groove rgba(0, 198, 169, 0.6);
		border-radius: 0.3rem;
		/*height: 1.5rem;*/
		padding: 3px 6px;
		color: #00a78e;
		margin: 5px 5px;
		/*flex-wrap: wrap;*/
	}

	.part32 {
		/*display: inline;*/
		/*background-color: #ffffdd;*/
		text-align: right;
		line-height: 1.5rem;
		color: #97feed;
	}

	.subtitle {
		display: flex;

		/*align-items: flex-end;*/
		justify-content: center;
		/*justify-self: center;*/
		text-align: center;
		border-radius: 3px;
		border: #97feed solid 1px;

		padding: 3px 6px;
		color: #97feed;
		margin: 15px 0px;
		/*align-self: flex-end;*/
		/*width: minmax(400px, 100%);*/
		width: 100%;
		/*width: 100%;*/
	}

	.expro {
		color: #97feed;
		list-style: none;
	}

	.exproli {
		padding: 0px 1.7rem;
		font-size: 0.8rem;
	}

	.exproli::after {
		content: "";
		display: inline-block;
		width: 99%;
		height: 2px;
		background-color: #00a78e62;

		margin: 0.3rem 0rem;
	}
	.plustitle {
		padding: 0px 1.3rem;
		margin-bottom: 0.5rem;
		color: #00a78e;
	}

	/*.marking::before,
	.marking::after {
		clip-path: inset(100%);
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}*/

	mark {
		/*display: inline-block;*/
	}

	.marking {
		display: inline-block;
		background-color: #ffffddc5;
		height: 1.5rem;
		border-radius: 1px;
		padding: 0px 0.5rem;
		border-radius: 7px 2px 7px 2px;
		font-size: 0.8rem;
	}

	.atouts {
		margin: 0;
		h1 {
			color: #f18407;
		}
	}

	.contact {
		margin: 0;
		list-style-type: none;
		font-size: 1rem;
		color: #f18407;
		/*padding-bottom: 20px;*/

		h1 {
			color: orange;
			margin: 0;
			font-size: 1rem;
			text-align: left;
		}
	}

	.contact li {
		color: #ffffff;
		font-size: 0.6rem;
	}

	.contact li::after {
		content: "";
		display: inline-block;
		width: 99%;
		height: 1px;
		background-color: #00c0a362;

		margin: 0.3rem 0rem;
	}
}
@media screen and (min-width: 1201px) and (max-width: 2500px) {
	body {
		display: grid;
		grid-template-areas:
			"part0 part0"
			"part1 part1  "
			"part2 part2 "
			"part3 part3 ";
	}

	.profil {
		grid-area: part0;
		display: grid;
		grid-template-areas:
			"a"
			"b";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr fit-content(100%);
		/*justify-content: center;*/
	}
	.monposte {
		grid-area: b;
		text-align: center;
		padding-top: 0.5rem;
	}

	.panim {
		grid-area: a;
		width: 200px;
		margin: auto;

		.face {
			width: 100%;
		}
	}

	.myname,
	.monposte {
		text-align: center;
	}

	.lestitres {
		margin: auto;
	}

	.line {
		display: block;
		height: 1px;
		/*width: fit-content;*/
		/*background: rgb(1,24,54);*/
		background: linear-gradient(
			90deg,
			rgba(1, 24, 54, 1) 29%,
			rgba(0, 255, 255, 0.4990371148459384) 100%
		);

		width: 100%;
	}

	h1 {
		color: #f18407;
		padding: 0px 1rem;
		font-size: 1rem;
	}

	h2 {
		color: #ffdddd;
		padding: 0px 1rem;
		font-size: 1rem;
	}
	.container {
		grid-area: part1;
		display: flex;

		background-color: var(--color-pal11);

		width: 90%;

		margin: auto;
		column-gap: 20px;
	}

	.container2 {
		grid-area: part2;
		/*margin-bottom: 0rem 0rem 0rem 0rem;*/
		/*background-color: #00a78e;*/
		width: 90%;
		margin: 20px auto;
	}

	.container3 {
		grid-area: part3;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: #e3e5e8;
		/*padding: 0px 1.5rem;*/
		font-size: 0.5rem;
		width: 90%;
		margin: 20px auto;

		h1 {
			font-family: "Courier New", Courier, monospace;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
				sans-serif;
			color: #ffffdd;
			/*padding: 0px 1rem;*/
			font-size: 0rem;
		}

		h2 {
			font-family: "Courier New", Courier, monospace;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
				sans-serif;
			color: #ffffdd;
			/*padding: 0px 1rem;*/
			font-size: 0.8rem;
		}
	}

	p {
		color: #e3e5e8;
		padding: 0px 1.5rem;
		font-size: 0.6rem;
	}

	.part5 {
		background-color: #97feed;
		margin: 20px auto;
	}

	.part3,
	.part4,
	.part5,
	.part6 {
		border-radius: 10px 10px 0px 0px;
		text-align: left;
		line-height: 1.5rem;

		background-color: var(--color-pal11black);
		border-radius: 20px 20px 0px 0px;
	}

	.part3,
	.part4 {
		width: 49%;
	}

	.part31 {
		display: block;
		/*display: inline-block;*/

		/*display: list-item;*/
		/*align-items: end;*/
		/*flex-direction: column-reverse;*/
	}

	.part5,
	.part6 {
		/*margin: auto 20px;*/
	}

	.part3 {
		text-align: right;
	}

	.part4 {
		text-align: left;
	}

	.cell-span {
		display: inline-block;
		/*align-items: center;*/
		/*justify-content: center;*/
		border-radius: 3px;
		/*border: #97feed solid 1px;*/
		/*outline: 1px solid rgb(0, 168, 143);*/
		outline: 3px groove rgba(0, 198, 169, 0.6);
		border-radius: 0.3rem;
		/*height: 1.5rem;*/
		padding: 3px 6px;
		color: #00a78e;
		margin: 5px 5px;
		/*flex-wrap: wrap;*/
	}

	.part32 {
		/*display: inline;*/
		/*background-color: #ffffdd;*/
		text-align: right;
		line-height: 1.5rem;
		color: #97feed;
	}

	.subtitle {
		display: flex;

		/*align-items: flex-end;*/
		justify-content: center;
		/*justify-self: center;*/
		text-align: center;
		border-radius: 3px;
		border: #97feed solid 1px;

		padding: 3px 6px;
		color: #97feed;
		margin: 15px 0px;
		/*align-self: flex-end;*/
		/*width: minmax(400px, 100%);*/
		width: 100%;
		/*width: 100%;*/
	}

	.expro {
		color: #97feed;
		list-style: none;
	}

	.exproli {
		padding: 0px 1.7rem;
		font-size: 0.8rem;
	}

	.exproli::after {
		content: "";
		display: inline-block;
		width: 99%;
		height: 2px;
		background-color: #00a78e62;

		margin: 0.3rem 0rem;
	}
	.plustitle {
		padding: 0px 1.3rem;
		margin-bottom: 0.5rem;
		color: #00a78e;
	}

	/*.marking::before,
	.marking::after {
		clip-path: inset(100%);
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}*/

	mark {
		/*display: inline-block;*/
	}

	.marking {
		display: inline-block;
		background-color: #ffffddc5;
		height: 1.5rem;
		border-radius: 1px;
		padding: 0px 0.5rem;
		border-radius: 7px 2px 7px 2px;
		font-size: 0.8rem;
	}

	.atouts {
		margin: 0;
		h1 {
			color: #f18407;
		}
	}

	.contact {
		margin: 0;
		list-style-type: none;
		font-size: 1rem;
		color: #f18407;
		/*padding-bottom: 20px;*/

		h1 {
			color: orange;
			margin: 0;
			font-size: 1rem;
			text-align: left;
		}
	}

	.contact li {
		color: #ffffff;
		font-size: 0.6rem;
	}

	.contact li::after {
		content: "";
		display: inline-block;
		width: 99%;
		height: 1px;
		background-color: #00c0a362;

		margin: 0.3rem 0rem;
	}
}

/* ------------------------------- */

@media screen and (min-width: 501px) {
/*
}*/
