:root {
	--color1: blue;
	--colorLine1: rgba(0, 255, 255, 0.494);
	--colorG1: rgb(0, 255, 255);
	--colorG2: linear-gradient(
		90deg,
		rgba(0, 255, 255, 0.4990371148459384) 0%,
		rgba(1, 24, 54, 1) 100%
	);

	--color-pal11: #071952;
	--color-pal12: #0b666a;
	--color-pal13: #35a29f;
	--color-pal14: #97feed;

	--color-pal21: #61a3ba;
	--color-pal22: #ffffdd;
	--color-pal23: #d2de32;
	--color-pal24: #a2c579;

	/* https://colorhunt.co/palettes/grey  */
	/* 

  --col_container1: hsl(212, 56%, 13%);
  --col_transp: rgba(255, 255, 255, 0);
  --col-cell1: #ffffff18;
  --colPart: #00000033;
  --col-cell3: #00000033;
  /*--col-txt-menu: white;*/
	--col-txt-menu: #071952;
	--border_cell: 5px;
	--logoss: 10px;

	--round_cell7: 7px;
	--round_cell9: 9px;
	/*--col-nav: #011836;*/
	--col-nav: #61a3ba;

	--diviz-col: repeat(3, 1fr);
	--diviz-row: repeat(3, 1fr);

	--col-modul1: rgba(0, 0, 0, 0.3);

	--colorRadius1: rgba(255, 255, 255, 0.502) solid 3px;

	--fontCell1: 2rem;
	--fontCell2: 1.8rem;
	--col_txt-cell: #e3e5e8;

	/* HAUTEUR DES CELL */
	--celH: 50px;

	/* HAUTEUR navigation  CELL */
	--navH1: 50px;
	--navH2: 60px;
	/* DISTRIBUTION DES CELLULES SUR MAIN BASIS */
	--jcontcell: space-evenly;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	margin: 0px 0px;
	padding: 0px 0px;
}

body {
	background-color: var(--color-pal11);
	margin: 0 0 0 0;
}

h1,
h2 {
	color: aliceblue;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, minmax(min-content, max-content));
	grid-template-areas:
		"a b"
		"c d"
		"e f";
	background-color: var(--color-pal11);
	/*
    margin-left: 3%;
    margin-right: 3%;*/
	width: 95%;
	/*height: 100vh;*/
	margin: 0px auto;
	row-gap: 50px;
	/*border-radius: 50px 50px 10px 10px;*/
}

.container-form {
	display: grid;

	background-color: var(--color-pal11);

	width: 80%;
	padding: 30px 30px;

	margin: 0px auto;
	row-gap: 50px;
}

.part1 {
	display: flex;
	grid-area: b;
	/*border-radius: 450px 250px 0px 0px;*/

	/*color: #141e01;
  text-align: left;
  font-size: xx-large;*/

	/*height: min-content;*/
	width: 49%;

	/*padding-left: 10px;*/

	align-items: flex-end;
	justify-content: left;
	background-color: var(--color-pal11);
}

.part2 {
	grid-area: a;
	align-items: center;
	justify-content: right;

	padding-right: 20px;
}

.part3 {
	display: grid;
	grid-template-rows: repeat(3, max-content);
	border-radius: 50px 0px 0px 0px;
	background-color: var(--colPart);
	align-self: flex-end;

	grid-template-areas:
		"a "
		"b"
		"c";

	color: var(--col_txt-cell);
	font-size: xx-large;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

@media screen and (min-width: 200px) and (max-width: 575px) {
	/* NAV */

	/*  */
	.profil {
		display: grid;
		grid-template-areas:
			"a"
			"b";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr fit-content(100%);
		/*justify-content: center;*/
	}
	.monposte {
		grid-area: b;
		text-align: center;
		padding-top: 0.5rem;
	}

	.panim {
		grid-area: a;
		width: 5rem;
		margin: auto;
	}

	.myname,
	.monposte {
		text-align: center;
	}

	.lestitres {
		margin: auto;
	}

	.line {
		display: block;
		height: 1px;
		/*width: fit-content;*/
		/*background: rgb(1,24,54);*/
		background: linear-gradient(
			90deg,
			rgba(1, 24, 54, 1) 29%,
			rgba(0, 255, 255, 0.4990371148459384) 100%
		);

		width: 100%;
	}

	/*  */
}


@media screen and (min-width: 576px) and (max-width: 767px) {
	
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
	.
}

@media screen and (min-width: 1201px) and (max-width: 2500px) {

}