.gitlab:hover {
	transform: rotate(15deg);
}

.frame {
	/*display: flex;*/
	/*justify-content: center;*/

	text-align: center;
	width: 1000px;
	height: 1000px;
	outline: 3px solid #000000;
}

.menu > ol {
	display: flex;
	padding: 0px;
	margin: 0px;
	background-color: #000000;
	width: 100%;
}

.menu {
	display: flex;
	justify-content: space-evenly;

	width: 100%;
	grid-area: b;
	margin: 0px;
	padding: 0px;

	list-style: none;
}

@media screen and (min-width: 200px) and (max-width: 575px) {
	/* NAV */

	.navig {
		display: grid;
		grid-template-columns: 80px 1fr 80px;
		grid-template-areas: "a b c";
		justify-content: center;
		align-items: center;
		background-color: rgba(102, 255, 0, 0.71);

		width: 100vw;
		height: var(--navH1);
	}

	/*.menu {
		display: flex;
		justify-content: space-evenly;

		width: 100%;
		grid-area: b;
		margin-top: 0;

		list-style: none;
	}*/

	a {
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
			"Lucida Sans", Arial, sans-serif;
		font-size: 1rem;
		margin: 0px 0px;
		padding: 0px 0px;
		text-decoration: none;
		color: #ffffff;
		color: black;
	}

	.menu {
		margin-bottom: 0;

		a:hover {
			text-decoration: underline dotted;
			transform: translateY(-2px);
			transition-duration: 0.3s;
			transition-property: color;
		}
	}

	.menu > li {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		height: 20px;
		font-size: 1rem;
		margin-bottom: 0;
	}

	/*.menu > ol {
		display: flex;
		padding: 0px;
		margin: 0px;
	}*/

	.logo {
		width: 40px;
		height: 40px;

		grid-area: a;
		padding-left: 20%;

		justify-self: flex-start;
		padding-left: 20%;
		filter: drop-shadow(0 0 2px var(--color-pal11));
	}

	.gitlab {
		width: 50px;
		height: 50px;
		color: #141e01;
		grid-area: c;
		justify-self: flex-end;
		padding-right: 20px;
		transition: all 0.3s ease-in-out;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
	/* NAV */

	.navig {
		display: grid;
		grid-template-columns: 80px 1fr 80px;
		grid-template-areas: "a b c";
		/*  */
		justify-content: center;
		align-items: center;
		background-color: rgba(43, 6, 102, 0.71);

		width: 100vw;
		height: var(--navH1);
	}

	/*.menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		width: 100%;
		grid-area: b;
		margin-top: 0;

		list-style: none;
	}*/

	a {
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
			"Lucida Sans", Arial, sans-serif;
		font-size: 1rem;
		margin: 0px 0px;
		padding: 0px 0px;
		text-decoration: none;
		color: #ffffff;
	}

	.menu {
		margin-bottom: 0;

		a:hover {
			text-decoration: underline dotted;

			transform: translateY(-2px);
			transition-duration: 0.3s;
			transition-property: color;
		}
	}

	.menu > li {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		height: 20px;
		font-size: 1rem;
		color: var(--col-txt-menu);
		margin-bottom: 0;
	}

	/*.menu > ol {
		display: flex;
		padding: 0px;
		margin: 0px;
	}*/
	.logo {
		width: 40px;
		height: 40px;

		grid-area: a;
		padding-left: 20%;

		justify-self: flex-start;
		padding-left: 20%;
		filter: drop-shadow(0 0 2px var(--color-pal11));
	}

	.gitlab {
		width: 50px;
		height: 50px;
		color: #141e01;
		grid-area: c;
		justify-self: flex-end;
		padding-right: 20px;
		transition: all 0.3s ease-in-out;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.navig {
		display: grid;
		grid-template-columns: 80px 1fr 80px;
		grid-template-areas: "a b c";
		/*  */
		justify-content: center;
		align-items: center;
		background-color: rgba(43, 6, 102, 0.71);

		width: 100vw;
		height: var(--navH1);
	}
	/*
	.menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		width: 100%;
		grid-area: b;
		margin-top: 0;

		list-style: none;
	}*/

	a {
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
			"Lucida Sans", Arial, sans-serif;
		font-size: 1rem;
		margin: 0px 0px;
		padding: 0px 0px;
		text-decoration: none;
		color: #ffffff;
	}

	.menu {
		margin-bottom: 0;

		a:hover {
			text-decoration: underline dotted;
			/*padding-bottom: -2px;*/
			transform: translateY(-2px);
			transition-duration: 0.3s;
			transition-property: color;
		}
	}

	.menu > li {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		height: 20px;
		font-size: 1rem;
		color: var(--col-txt-menu);
		margin-bottom: 0;
	}

	.logo {
		width: 40px;
		height: 40px;

		grid-area: a;
		padding-left: 20%;

		justify-self: flex-start;
		padding-left: 20%;
		filter: drop-shadow(0 0 2px var(--color-pal11));
	}

	.gitlab {
		width: 50px;
		height: 50px;
		color: #141e01;
		grid-area: c;
		justify-self: flex-end;
		padding-right: 20px;
		transition: all 0.3s ease-in-out;
	}
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
	.navig {
		display: grid;
		grid-template-columns: 80px 1fr 80px;
		grid-template-areas: "a b c";
		justify-content: center;
		align-items: center;
		background-color: rgba(102, 6, 6, 0.71);

		width: 100vw;
		height: var(--navH1);
	}

	/*.menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		width: 100%;
		grid-area: b;
		margin-top: 0;

		list-style: none;
	}*/

	a {
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
			"Lucida Sans", Arial, sans-serif;
		font-size: 1rem;
		margin: 0px 0px;
		padding: 0px 0px;
		text-decoration: none;
		color: #ffffff;
	}

	.menu {
		margin-bottom: 0;

		a:hover {
			text-decoration: underline dotted;
			transform: translateY(-2px);
			transition-duration: 0.3s;
			transition-property: color;
		}
	}

	.menu > li {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		height: 20px;
		font-size: 1rem;
		color: var(--col-txt-menu);
		margin-bottom: 0;
	}

	/*.menu > ol {
		display: flex;
		padding: 0px;
		margin: 0px;
	}*/

	.logo {
		width: 40px;
		height: 40px;

		grid-area: a;
		padding-left: 20%;

		justify-self: flex-start;
		padding-left: 20%;
		filter: drop-shadow(0 0 2px var(--color-pal11));
	}

	.gitlab {
		width: 50px;
		height: 50px;
		color: #141e01;
		grid-area: c;
		justify-self: flex-end;
		padding-right: 20px;
		transition: all 0.3s ease-in-out;
	}
}

@media screen and (min-width: 1201px) and (max-width: 2500px) {
	.navig {
		display: grid;
		grid-template-columns: 80px 1fr 80px;
		grid-template-areas: "a b c";
		justify-content: center;
		align-items: center;
		background-color: rgba(233, 0, 0, 0.864);

		width: 100vw;
		height: var(--navH1);
	}

	/*.menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		width: 100%;
		grid-area: b;
		margin-top: 0;

		list-style: none;
	}*/

	a {
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
			"Lucida Sans", Arial, sans-serif;
		font-size: 1rem;
		margin: 0px 0px;
		padding: 0px 0px;
		text-decoration: none;
		color: #ffffff;
	}

	.menu {
		margin-bottom: 0;

		a:hover {
			text-decoration: underline dotted;
			/*padding-bottom: -2px;*/
			transform: translateY(-2px);
			transition-duration: 0.3s;
			transition-property: color;
		}
	}

	.menu > li {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		height: 20px;
		font-size: 1rem;
		color: var(--col-txt-menu);
		margin-bottom: 0;
	}

	/*.menu > ol {
		display: flex;
		padding: 0px 0px;
		margin-bottom: 0;
	}*/

	.logo {
		width: 40px;
		height: 40px;

		grid-area: a;
		padding-left: 20%;

		justify-self: flex-start;
		padding-left: 20%;
		filter: drop-shadow(0 0 2px var(--color-pal11));
	}

	.gitlab {
		width: 50px;
		height: 50px;
		color: #141e01;
		grid-area: c;
		justify-self: flex-end;
		padding-right: 20px;
		transition: all 0.3s ease-in-out;
	}
}
