:root {
  --color1: blue;
  --colorLine1: rgba(0, 255, 255, 0.494);
  --colorG1: rgb(0, 255, 255);
  --colorG2: linear-gradient(
    90deg,
    rgba(0, 255, 255, 0.4990371148459384) 0%,
    rgba(1, 24, 54, 1) 100%
  );

  --color-pal11: #071952;
  --color-pal12: #0b666a;
  --color-pal13: #35a29f;
  --color-pal14: #97feed;

  --color-pal21: #61a3ba;
  --color-pal22: #ffffdd;
  --color-pal23: #d2de32;
  --color-pal24: #a2c579;

  /* https://colorhunt.co/palettes/grey  */
  /* 

  --col_container1: hsl(212, 56%, 13%);
  --col_transp: rgba(255, 255, 255, 0);
  --col-cell1: #ffffff18;
  --colPart: #00000033;
  --col-cell3: #00000033;
  /*--col-txt-menu: white;*/
  --col-txt-menu: #071952;
  --border_cell: 5px;
  --logoss: 10px;

  --round_cell7: 7px;
  --round_cell9: 9px;
  /*--col-nav: #011836;*/
  --col-nav: #61a3ba;

  --diviz-col: repeat(3, 1fr);
  --diviz-row: repeat(3, 1fr);

  --col-modul1: rgba(0, 0, 0, 0.3);

  --colorRadius1: rgba(255, 255, 255, 0.502) solid 3px;

  --fontCell1: 2rem;
  --fontCell2: 1.8rem;
  --col_txt-cell: #e3e5e8;

  /* HAUTEUR DES CELL */
  --celH: 50px;

  /* HAUTEUR navigation  CELL */
  --navH1: 50px;
  --navH2: 60px;
  /* DISTRIBUTION DES CELLULES SUR MAIN BASIS */
  --jcontcell: space-evenly;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px 0px;
  padding: 0px 0px;
}

body {
  background-color: var(--color-pal11);
  margin: 0 0 0 0;
}
.gitlab:hover {
  transform: rotate(25deg);
  transition: 0.2s;
}

@media screen and (max-width: 500px) {
  a {
    font-size: 0.8rem;
    margin: 0px 0px;
    padding: 0px 0px;
    text-decoration: none;
    color: #141e01;
  }

  .navig {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    justify-content: center;
    align-items: center;
    /*grid-template-rows: 1fr;*/
    grid-template-areas: "a b c";
    background-color: var(--color-pal14);
    width: 100vw;
    height: var(--navH1);
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /*row-gap: 30px;*/
    width: 100%;
    grid-area: b;
    margin-top: 0;

    list-style: none;

    /*background-color: var(--color-pal11);*/
  }

  .menu > ol {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 35px;*/
    padding: 0px 0px;
    /*margin: 0;*/
    margin-bottom: 0;
    /*width: 100%;*/
    /*justify-content: right;*/
    /*background-color: var(--color-pal11);*/
  }

  .menu {
    margin-bottom: 0;
    a:hover {
      /*text-decoration: dashed;*/
      text-decoration: underline dotted;
      /*padding-bottom: -2px;*/
      /*transform: perspective(1px) translateZ(0);*/
      transform: translateY(-2px);
      transition-duration: 0.3s;
      transition-property: color;
    }
  }

  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 20px;
    /*width: min-content;*/
    font-size: 0.8rem;
    /*text-align: center;*/
    color: var(--col-txt-menu);
    /*background-color: var(--color-pal11);*/
    margin-bottom: 0;
  }

  .logo {
    /*width: var(--logoss);
  height: var(--logoss);*/

    width: 40px;
    height: 40px;

    grid-area: a;
    padding-left: 20%;
    /*background-color: var(--col-nav);*/

    justify-self: flex-start;
    /*padding-left: 20px;*/
    padding-left: 20%;
    filter: drop-shadow(0 0 2px var(--color-pal11));
  }

  .gitlab {
    width: 50px;
    height: 50px;
    color: #141e01;
    grid-area: c;
    /*background-color: var(--color-pal11);*/
    justify-self: flex-end;
    padding-right: 20px;
  }
}
@media screen and (min-width: 501px) {
  a {
    font-size: 0.8rem;
    margin: 0px 0px;
    padding: 0px 0px;
    text-decoration: none;
    color: #141e01;
  }

  .navig {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 80px;
    justify-content: center;
    align-items: center;
    /*grid-template-rows: 1fr;*/
    grid-template-areas: "a b c d";
    background-color: var(--color-pal14);
    width: 100vw;
    height: var(--navH1);
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /*row-gap: 30px;*/
    width: 100%;
    grid-area: b;
    margin-top: 0;

    list-style: none;

    /*background-color: var(--color-pal11);*/
  }

  .menu > ol {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 35px;*/
    padding: 0px 0px;
    /*margin: 0;*/
    margin-bottom: 0;
    /*width: 100%;*/
    /*justify-content: right;*/
    /*background-color: var(--color-pal11);*/
  }

  .menu {
    margin-bottom: 0px;
    grid-area: c;
    a:hover {
      /*text-decoration: dashed;*/
      text-decoration: underline dotted;
      /*padding-bottom: -2px;*/
      /*transform: perspective(1px) translateZ(0);*/
      transform: translateY(-2px);
      transition-duration: 0.3s;
    }
  }

  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 20px;
    /*width: min-content;*/
    font-size: 0.8rem;
    /*text-align: center;*/
    color: var(--col-txt-menu);
    /*background-color: var(--color-pal11);*/
    margin-bottom: 0;
  }

  .logo {
    /*width: var(--logoss);
  height: var(--logoss);*/

    width: 50px;
    height: 50px;

    grid-area: a;
    padding-left: 20%;
    /*background-color: var(--col-nav);*/

    justify-self: flex-start;
    /*padding-left: 20px;*/
    padding-left: 20%;
    filter: drop-shadow(0 0 2px var(--color-pal11));
  }

  .gitlab {
    width: 50px;
    height: 50px;
    grid-area: d;
  }
}
