/*<!-- break points
1280px
768px
390px


-->
*/

:root {
  --color1: blue;
  --colorLine1: rgba(0, 255, 255, 0.494);
  --colorG1: rgb(0, 255, 255);
  --colorG2: linear-gradient(90deg, rgba(0, 255, 255, 0.4990371148459384) 0%, rgba(1, 24, 54, 1) 100%);

  --color-pal11: #071952  ;
  --color-pal12: #0B666A  ;
  --color-pal13: #35A29F  ;
  --color-pal14: #97FEED  ;

  --color-pal21: #61A3BA  ;
  --color-pal22: #FFFFDD  ;
  --color-pal23: #D2DE32  ;
  --color-pal24: #A2C579  ;

/* https://colorhunt.co/palettes/grey  */
  /* 
  
  
  background: rgb(0,255,255);
background: linear-gradient(90deg, rgba(0,255,255,0.4990371148459384) 0%, rgba(1,24,54,1) 100%);
  

background: rgb(1,24,54);
background: linear-gradient(90deg, rgba(1,24,54,1) 29%, rgba(0,255,255,0.4990371148459384) 100%);

  */


  --col_container1: hsl(212, 56%, 13%);
  --col_transp: rgba(255, 255, 255, 0);
  --col-cell1: #ffffff18;
  --colPart: #00000033;
  --col-cell3: #00000033;
  /*--col-txt-menu: white;*/
    --col-txt-menu: #071952;
  --border_cell: 5px;
  --logoss:10px;

  --round_cell7: 7px;
  --round_cell9: 9px;
  /*--col-nav: #011836;*/
  --col-nav: #61A3BA;
  

  --diviz-col: repeat(3, 1fr);
  --diviz-row: repeat(3, 1fr);

  --col-modul1: rgba(0, 0, 0, 0.3);

  --colorRadius1: rgba(255, 255, 255, 0.502) solid 3px;

  --fontCell1: 2rem;
  --fontCell2: 1.8rem;
  --col_txt-cell: #e3e5e8;

  /* HAUTEUR DES CELL */
  --celH: 50px;

    /* HAUTEUR navigation  CELL */
  --navH1: 50px;
  --navH2: 60px;
  /* DISTRIBUTION DES CELLULES SUR MAIN BASIS */
  --jcontcell: space-evenly;

  /* +++++ #011836 */
  /* ++++ #153052  */
  /* +++   #3F5F85 */
  /* ++     #8AA4C5         */
  /* +       #E3E5E8               */
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  padding: 0px 0px;
}

body {
  background-color: var(--color-pal11);
      margin: 0 0   0 0 ;

}

/*  */


  .gitlab {
    width: 60px;
    height: 60px;
    color: #141e01;
    grid-area: d;
    /*background-color: var(--color-pal11);*/
    justify-self: flex-end;
    padding-right: 20px;
  }

  .navig {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 80px 1fr 1fr 80px;
    justify-content: center;
    align-items: center;
    /*grid-template-rows: 1fr;*/
    grid-template-areas: "a b c d";
    background-color: var(--color-pal14);
    width: 100vw;
    height: var(--navH1);
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*row-gap: 30px;*/
    width: 100%;
    grid-area: c;
    margin-top: 0;
    /*background-color: var(--color-pal11);*/
  }

  .menu>li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 20px;
    width: min-content;
    font-size: 12px;
    /*text-align: center;*/
    color: var(--col-txt-menu);
    /*background-color: var(--color-pal11);*/
  }

  .menu>ol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    padding: 0px 0px;

    /*width: 100%;*/
    /*justify-content: right;*/
    background-color: var(--color-pal11);
  }

  .figure{
    grid-area: d;
  }

    .container-form2 {
      /*position: absolute;*/
      display: grid;
      grid-template-rows: 1fr 5fr;
      grid-template-columns: 30% 70%;
      grid-template-areas: 
      "a b"
      "c d";


      margin: 0% 5%;

        background-color: #00000033 ;
        /*margin-top: -18px;*/

  }

    h1{
    color: #97FEED;
    margin: 20px 0px;
    padding-top: 15px;
    padding-left: -10px;
    grid-area: a;
  }

  /* LE DEV */



  .face {
    width: 150px;
    height: 150px;
    background-color: var(--col_transp);

    margin-top: 20px;
  }

/*  */

@media screen and (max-width: 500px) {
  /*  */

  /* LA NAV */

  .logo {
    width: var(--logoss);
    height: var(--logoss);

    grid-area: a;
    padding-left: 20%;
    /*background-color: var(--col-nav);*/

    justify-self: flex-start;
    /*padding-left: 20px;*/
    padding-left: 20%;
              filter: drop-shadow(0 0 2px var(--color-pal11));

  }



  .gitlab {
    width: var(--logoss);
    height: var(--logoss);
    color: #141e01;
    grid-area: d;
    /*background-color: var(--col-nav);*/
    justify-self: flex-end;
    padding-right: 20%;

  }

  .navig {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    justify-content: center;
    align-items: center;
    /*grid-template-rows: 1fr;*/
    grid-template-areas: "a c d";
    background-color: var(--color-pal14);
    width: 100vw;
    height: var(--navH1);


  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*row-gap: 30px;*/
    width: 100%;
    grid-area: c;
    /*background-color: var(--color-pal11);*/
  }

  .menu>li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 20px;
    width: min-content;
    font-size: 12px;
    /*text-align: center;*/
    color: var(--col-txt-menu);
    /*background-color: var(--color-pal11);*/
  }

  .menu>ol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    padding: 0px 0px;

    /*width: 100%;*/
    /*justify-content: right;*/
    /*background-color: var(--color-pal11);*/
  }

  * LE DEV */ .myself {
    /*margin: auto;*/
    color: var(--color-pal11);

    align-items: flex-start;
    justify-content: center;

    /*height: fit-content;*/
    /*margin: auto;*/
  }

  .face {
    width: 150px;
    height: 150px;

    margin-top: 20px;
  }

  .myself>h1,
  .myself>h2 {
    font-size: 1.6rem;
    text-align: center;
    /*text-align: right;*/
    /*margin: 0px Opx 0px 0px;*/
    color: aliceblue;
    /*justify-content: center;
    align-self: flex-start;*/
  }

  /* LE RESTE */

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
      "a "
      "b"
      "c";
    background-color: var(--color-pal13);
    /*
    margin-left: 3%;
    margin-right: 3%;*/
    width: 90%;
    /*height: 100vh;*/
    margin: 0px auto;
    /*border-radius: 50px 50px 10px 10px;*/
  }



  /*  */
  /*  */

  .part1 {
    display: flex;
    grid-area: a;
    border-radius: 450px 250px 0px 0px;

    /*color: #141e01;
  text-align: left;
  font-size: xx-large;*/

    height: min-content;

    /*padding-left: 10px;*/

    align-items: flex-end;
    justify-content: center;
  }

  .part2 {
    grid-area: b;
    display: flex;

    align-items: flex-start;
    justify-content: center;

    background-color: --col_transp;

    /*font-size: xx-large;*/

    /*height: 300px;*/

    padding-right: 10px;
  }

  /*  */

  .part3,
  .part4 {
    display: grid;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;

    grid-auto-rows: 70px;
    grid-template-areas:
      "a"
      "b"
      "c";

    color: var(--col_txt-cell);
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .part4 {
    flex-direction: column;
  }

  .part31,
  .part32,
  .part33 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .cell {
      display: flex;
      align-items: center;
      height: 60px;
      width: fit-content;
      /*width: max-content;*/
      background-color: var(--col-cell1);

      margin: 5px;
      padding: 0px 10px;
      border-radius: var(--round_cell7);
      font-size: 1.4rem;
      /*justify-content: flex-start;*/

      font-size: 1.4rem;
      border: black solid 2px;
    }
  }

  .part31 {
    padding-right: 0px;
  }

  .part32 {
    padding-right: 15px;
  }

  .part33 {
    padding-right: 30px;
  }

  .part41,
  .part42,
  .part43 {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--col_transp);

    .cell {
      display: flex;
      align-items: center;
      height: 60px;
      width: fit-content;
      /*width: max-content;*/
      background-color: var(--col-cell1);

      margin: 5px;
      padding: 0px 10px;
      border-radius: var(--round_cell7);
      font-size: 2rem;
      justify-content: flex-end;

      font-size: 1.4rem;
      border: black solid 2px;
    }
  }

  .part41 {
    padding-left: 0px;
  }

  .part42 {
    padding-left: 15px;
  }

  .part43 {
    padding-left: 30px;
  }
}

/*  */
/*  */

@media screen and (min-width: 501px) {
  /*  */

  /* LA NAV */

  .logo {
    width: 50px;
    height: 50px;

    grid-area: a;
    padding-left: 20px;
    /*background-color: var(--color-pal11);*/

    justify-self: flex-start;
    padding-left: 20px;
              filter: drop-shadow(0 0 2px var(--color-pal11));
  }

  .gitlab {
    width: 60px;
    height: 60px;
    color: #141e01;
    grid-area: d;
    /*background-color: var(--color-pal11);*/
    justify-self: flex-end;
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
              transform-origin: center;

    &:hover{
rotate: 15deg;
    }
  }

  .navig {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 80px;
    justify-content: center;
    align-items: center;
    /*grid-template-rows: 1fr;*/
    grid-template-areas: "a b c d";
    background-color: var(--color-pal14);
    width: 100vw;
    height: var(--navH1);
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*row-gap: 30px;*/
    width: 100%;
    grid-area: c;
    /*background-color: var(--color-pal11);*/
  }

  .menu>li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 20px;
    width: min-content;
    font-size: 12px;
    /*text-align: center;*/
    color: var(--col-txt-menu);
    /*background-color: var(--color-pal11);*/
  }

  .menu>ol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    padding: 0px 0px;

    /*width: 100%;*/
    /*justify-content: right;*/
    background-color: var(--color-pal11);
  }

  * LE DEV */ .myself {
    /*margin: auto;*/
    color: var(--color-pal11);

    align-items: flex-start;
    justify-content: center;

    /*height: fit-content;*/
    /*margin: auto;*/
  }

  .face {
    width: 150px;
    height: 150px;

    margin-top: 20px;
  }

  .myself>h1,
  .myself>h2 {
    font-size: 1.6rem;
    text-align: right;
    /*text-align: right;*/
    /*margin: 0px Opx 0px 0px;*/
    color: aliceblue;
    /*justify-content: center;*/
    /*align-self: flex-end;*/
  }

  /* LE RESTE */

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
      "a "
      "b"
      "c";
    background-color: var(--color-pal11);
    /*
    margin-left: 3%;
    margin-right: 3%;*/
    width: 90%;
    /*height: 100vh;*/
    margin: 0px auto;
    /*border-radius: 50px 50px 10px 10px;*/
  }

  /*  */
  /*  */

  .part1 {
    display: flex;
    grid-area: a;
    border-radius: 450px 250px 0px 0px;

    /*color: #141e01;
  text-align: left;
  font-size: xx-large;*/

    height: min-content;

    /*padding-left: 10px;*/

    align-items: flex-end;
    justify-content: center;
  }

  .part2 {
    grid-area: b;
    display: flex;

    align-items: flex-start;
    justify-content: center;

    background-color: --col_transp;

    /*font-size: xx-large;*/

    /*height: 300px;*/

    padding-right: 10px;
  }

  /*  */

  .part3,
  .part4 {
    display: grid;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;

    grid-auto-rows: 70px;
    grid-template-areas:
      "a"
      "b"
      "c";

    color: var(--col_txt-cell);
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .part4 {
    flex-direction: column;
  }

  .part31,
  .part32,
  .part33 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .cell {
      display: flex;
      align-items: center;
      height: 60px;
      width: fit-content;
      width: max-content;
      background-color: var(--col-cell1);

      margin: 5px;
      padding: 0px 10px;
      border-radius: var(--round_cell7);
      font-size: 1.4rem;
      justify-content: flex-start;

      font-size: 1.4rem;
      border: black solid 2px;
    }
  }

  .part31 {
    padding-right: 0px;
  }

  .part32 {
    padding-right: 15px;
  }

  .part33 {
    padding-right: 30px;
  }

  .part41,
  .part42,
  .part43 {
    display: flex;
    flex-direction: row-reverse;

    .cell {
      display: flex;
      align-items: center;
      height: 60px;
      width: fit-content;
      width: max-content;
      background-color: var(--col-cell1);

      margin: 5px;
      padding: 0px 10px;
      border-radius: var(--round_cell7);
      font-size: 2rem;
      justify-content: flex-end;

      font-size: 1.4rem;
      border: black solid 2px;
    }
  }

  .part41 {
    padding-left: 0px;
  }

  .part42 {
    padding-left: 15px;
  }

  .part43 {
    padding-left: 30px;
  }
}

@media screen and (min-width: 800px) {
  /*  */

  /* LA NAV */

  .logo {
    width: 50px;
    height: 50px;

    grid-area: a;
    padding-left: 20px;
    /*background-color: var(--color-pal11);*/

    justify-self: flex-start;
    padding-left: 20px;
          filter: drop-shadow(0 0 2px var(--color-pal11));

}
  }



  /* LE RESTE */

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
      "a b"
      "c d"
      "e f";
    background-color: var(--color-pal11);
    /*
    margin-left: 3%;
    margin-right: 3%;*/
    width: 95%;
    /*height: 100vh;*/
    margin: 0px auto;
    row-gap: 50px;
    /*border-radius: 50px 50px 10px 10px;*/
  }

  .container-form{
        display: grid;

    background-color: var(--color-pal11);

    width: 80%;
padding: 30px 30px;

    margin: 0px auto;
    row-gap: 50px;

  
}


  /*  */
  /*  */

  .part1 {
    display: flex;
    grid-area: b;
    /*border-radius: 450px 250px 0px 0px;*/

    /*color: #141e01;
  text-align: left;
  font-size: xx-large;*/

    /*height: min-content;*/
    width: 49%;

    /*padding-left: 10px;*/

    align-items: flex-end;
    justify-content: left;
    background-color: var(--color-pal11);
  }

  .part2 {
    grid-area: a;
    align-items: center;
    justify-content: right;


    padding-right: 20px;


  }

  .myself {
    /*display: flex;*/
    /*justify-self:right;
  background-color: var(--col_transp);*/
    /*align-self: flex-end;*/
    width: fit-content;

  }

  .line {
    height: 2px;
    /*width: fit-content;*/
    /*background: rgb(1,24,54);*/
    background: linear-gradient(90deg, rgba(1, 24, 54, 1) 29%, rgba(0, 255, 255, 0.4990371148459384) 100%);
  }

  .myself>h1,
  .myself>h2 {
    font-size: 1.6rem;
    /*text-align: right;*/
    /*text-align: right;*/
    /*margin: 0px Opx 0px 0px;*/
    color: aliceblue;
    /*justify-content: center;*/
    /*align-self: flex-end;*/
    height: 1rem;
    /*height: fit-content;*/
    width: 100%;

  }

  /*
  h1{
    border-top:  solid rgb(1,24,54)  ;
    border-top: 10px;

background:linear-gradient(90deg, rgba(1,24,54,1) 20%, rgba(0, 255, 255, 0.274) 50%);

    padding-top:1rem;
    
  }*/
  .part3 {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    border-radius: 50px 0px 0px 0px;
    background-color: var(--colPart);
    align-self: flex-end;


    grid-template-areas:
      "a "
      "b"
      "c";

    color: var(--col_txt-cell);
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

.part31,
.part32,
.part33 {
  display: flex;
  /*flex-direction: row;*/
  background-color: var(--col_transp);
  justify-content: var(--jcontcell);

  /*flex-wrap: wrap;*/
  .cell {
    display: flex;
    align-items: center;
    height: var(--celH);
    /*width: fit-content;*/
    /*width: max-content;*/
    /*width: 300px;*/
    background-color: var(--col-cell1);

    margin: 5px;
    padding: 0px 10px;
    border-radius: var(--round_cell7);
    font-size: 1.4rem;
    justify-content: flex-start;

    font-size: 1.4rem;
    border: black solid 2px;
  }
}

.part31 {
  padding-right: 0px;
}

.part32 {
  padding-right: 15px;
}

.part33,.part43 {

  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.23);
  border: black solid 2px;
  border-radius: var(--round_cell7);
  height: var(--celH)/2;
      font-size: 20px;
      color: aqua;
}

/*  */

.part4 {
    display: grid;
    grid-template-rows: repeat(3, max-content);
  border-radius: 0px 150px 0px 0px;
align-self: flex-end;
  /*padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;*/

  grid-auto-rows: 70px;
  grid-template-areas:
    "a "
    "b"
    "c";

  color: var(--col_txt-cell);
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.part4 {
  flex-direction: row;
  background-color: var(--colPart);
}

.part41,
.part42{
  display: flex;
  flex-direction: row;
  background-color: var(--col_transp);

  justify-content: space-around;

  .cell {
    display: flex;
    align-items: center;
    height: var(--celH);
    /*width: fit-content;*/
    /*width: max-content;*/
    background-color: var(--col-cell1);

    margin: 5px;
    padding: 0px 10px;
    border-radius: var(--round_cell7);
    font-size: 2rem;
    /*justify-content: flex-end;*/

    font-size: 1.4rem;
    border: black solid 2px;
  }
}

.part41 {
  padding-left: 0px;
}

.part42 {
  padding-left: 15px;
}

.part43 {
  padding-left: 30px;
}

.form-container {

  width: 60%;
  margin: auto;



}

.line1 {

   height: 2px;
   background-color: var(--color-pal23);
   width: 100%;
   margin: 20px 0px 5px 0px;
}

.form-sec1, .form-sec2{
  display:flex ;
  justify-content: space-around;
  align-items: center;
  background: #0000004e;
  height: 3rem;
  border-radius: 5px;

  /*margin: auto;*/

}

input{
    width: 40%;
    height: 2rem;
    padding-left: 0.3rem;



}


input:focus{
  border: #35A29F solid 2px;
}

  ::-webkit-input-placeholder{
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

