:root {
  --main-color: hotpink;
  --pane-padding: 5px 42px;
  --circle-size: 250px;
  --player-size: 30px;
}

.main {
  display: flex;
}

.cadre {
  position: relative;
  width: 640px;
  height: 1280px-;
}

.frame {
  /* display: flex; */
  justify-content: center;
  position: relative;
  /*  */
  background-color: aqua;
  /*  */
  /* width: 300px; */
  /* height: 600px; */
  /*  */
}
.circle {
  position: absolute;
  border: 20px solid var(--main-color);

  top: 100px;
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.myvideo,
.medias {
  display: none;
  width: 300px;
  height: 600px;
  border: red solid 1px;
}

.myplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--player-size);
  height: var(--player-size);
  /* background-color: blueviolet; */
  border: red solid 1px;
}
