* {
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  /*display: block;*/
  justify-content: flex-end;
  margin: 0px 30px;
  /*flex-direction: column;*/
  /*height: 100vh;*/
  /*width: 99%;*/
  /*height: 100%;*/
  background-color: rgba(0, 0, 0, 0.57);
}

.s1,
.s2 {
  display: flex;
  flex-direction: column;
  flex-flow: wrap-reverse;
  align-content: end;
  justify-content: flex-end;
  margin: 15px 15px;
  height: 500px;

  /*align-items: flex-start;*/
  /*align-items: flex-end;*/
  /*flex-wrap: wrap;*/
  /*flex-wrap: wrap-reverse;*/

  /*height: 200px;*/

  gap: 10px 10px;

  background-color: rgba(20, 104, 182, 0.57);
}
.s2 {
  padding-top: 10px;
}
/*  */
/*  */
.a1,
.a2,
.a3,
.a4,
.a5,
.a6,
.a7,
.a8,
.b1,
.b2,
.b3,
.b4,
.b5 {
  /*display: flex;*/
  /*text-align: center;*/
  /*justify-content: space-evenly;*/
  /*align-items: center;*/
  /*column-gap: 30px;*/
  /*row-gap: 30px;*/

  /*width: 30%;*/
  width: 120px;
  height: 50px;
  /*width: max-content;*/
  /*height: 50px;*/
  background-color: rgb(255, 221, 0);
  border-radius: 5px;
}
p {
  /*display: flex;
  align-items: center;*/
  text-align: center;
}
