* {
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  flex-wrap: wrap;
  /*display: block;*/
  justify-content: center;
  margin: 0px 30px;
  /*flex-direction: column;*/
  height: 100vh;
  /*width: 99%;*/
  /*height: 100%;*/
  background-color: rgba(0, 0, 0, 0.57);
}

.s1,
.s2,
.s3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  height: 300px;
  width: 500px;
  /*overflow: auto;*/
  /*overflow: visible;*/
  /*text-align: right;*/
  /*flex-grow: 2;*/
  /*flex-shrink: 2;*/
  /*flex-direction: column;*/
  /*flex-direction: row-reverse;*/
  /*justify-content: space-evenly;*/
  justify-content: right;
  /*justify-content: flex-end;*/
  /*justify-content: flex-start;*/
  /*justify-content: flex-start;*/
  /*align-items: flex-end;*/
  /*flex-direction: unset;*/
  /*justify-content: space-evenly;*/
  /*align-items: center;*/

  gap: 10px 10px;
  /*justify-content: space-evenly;*/
  /*justify-content: right;*/

  /*justify-content: right;*/
  /*width: 100%;*/

  /*height: 100%;*/
  background-color: rgba(58, 20, 182, 0.57);
}
.s2 {
  padding-top: 10px;
}
/*  */
/*  */
.a1,
.a2,
.a3,
.a4,
.a5,
.a6,
.a7,
.b1,
.b2,
.b3,
.b4,
.b5 {
  /*display: flex;*/
  /*text-align: center;*/
  /*justify-content: space-evenly;*/
  /*align-items: center;*/
  /*column-gap: 30px;*/
  /*row-gap: 30px;*/

  /*width: 30%;*/
  width: 120px;
  /*width: max-content;*/
  /*height: 50px;*/
  background-color: rgb(255, 221, 0);
  border-radius: 5px;
}
p {
  /*display: flex;
  align-items: center;*/
  text-align: center;
}
