.parent {
  display: flex;
  outline: 5px solid rgb(1, 14, 129);
  padding: 0.5rem;
  background-color: rgba(0, 255, 255, 0.36);
  flex-wrap: wrap;
  gap: 1rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit) minmax(1rem, 1fr);
  grid-template-columns: 1fr 2fr;

  grid-auto-rows: fit-content;
  /*grid-auto-rows: auto;*/
  gap: 1rem;
}

.child {
  outline: 1px solid rgb(1, 14, 129);
  background-color: antiquewhite;
  /*width: fit-content;*/

  padding: 0.5rem;
  margin: 0;
}
.child {
  outline: 1px solid rgb(1, 14, 129);
  background-color: antiquewhite;
  /*width: fit-content;*/
  padding: 0.5rem;
  margin: 0;
}
